.content{width:808px;}
.product{
    width:800px;
    height:400px;
    position:relative;
}
.product .overDiv{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:rgba(253,253,253,0.7);
    z-index:999;
}
.product .overDiv p{
    margin-top: 232px;
    margin-left:10px;
    float:left;
}
.product .overDiv .fa{
    margin-top: 225px;
    float: left;
    margin-left: 350px;
    font-size:32px;
}
.product .allProduct,
.product .cusProduct{
    width:370px;
    height:480px;
    border:1px solid #ddd;
    border-radius:5px;
}
.product .allProduct{
    float:left;
}
.product .allProduct .pList{
    overflow-y:auto;
    height: 480px;
}
.product .pList .thu i{
    font-size:56px;
    color:#ddd;
}
.product .pList .thu img{
    max-width:100%;
    max-height:100%;
}
.product .pList .thu{
    float:left;
    width:70px;
    height:70px;
    line-height:70px;
    text-align:center;
    margin-right:15px;
}
.product .pList .remove i,
.product .pList .add i{
    font-size:14px;
    line-height:16px;
    float:left;
}
.product .pList .remove,
.product .pList .add{
    margin-top:5px;
    position:absolute;
    right:5px;
    top:0px;
    font-size:12px;
    height:18px;
    line-height:18px;
}
.product .pList .name,
.product .pList .imgCount,
.product .pList .size,
.product .pList .description{
    font-size:12px;
    float:left;
    width:260px;
    margin-bottom:5px;
}
.product .cusProduct{
    float:right;
}
.productLi{
    position:relative;
    width:345px;
    float:left;
    padding:5px 0;
    border-bottom:1px solid #eee;
    margin-left:5px;
}

.allProduct .countBox{
    display:none;
}
.countBox{
    position:absolute;
    top:30px;
    right:3px;
}
.countBox .check{
    float:left;
    font-size:32px;
    line-height:20px;
    color:green;
}
.countBox .setCount{
    float:left;
    color:#666;
}
.countBox .subOne,
.countBox .addOne{
    float:left;
    width:16px;
    height:16px;
    font-size:14px;
    line-height:18px;
    border-radius:3px;
    cursor:pointer;
    text-align:center;
    color:#456590;
}
.countBox .count{
    float:left;
    width:20px;
    margin:0 5px;
    height:16px;
    line-height:16px;
    text-align:center;
    font-size:12px;
    border:1px solid #ddd;
    border-radius:3px;
}
.orderList{
    width:100%;
}
.orderList li:hover{
    background:#efefef;
}
.orderList .do_progress:hover .tt{
   animation: aniTT.3s;
   -moz-animation: aniTT .3s;
   -webkit-animation: aniTT .3s;
   -o-animation: aniTT .3s;
    display:block;
}
.orderList .do_progress:hover{
   animation: progress .3s;
   -moz-animation: progress .3s;
   -webkit-animation: progress .3s;
   -o-animation: progress .3s;
    margin-top:5px;
}
@keyframes aniTT{
    0%   {margin-top:-10px;opacity:0.1;}
    100% {margin-top:5px;opacity:1;}
}
@-webkit-keyframes aniTT/* Safari 和 Chrome */ {
    0%   {margin-top:-10px;opacity:0.1;}
    100% {margin-top:5px;opacity:1;}
}
@keyframes progress{
    0%   {margin-top:13px;}
    100% {margin-top:5px;}
}
@-webkit-keyframes progress/* Safari 和 Chrome */ {
    0%   {margin-top:13px;}
    100% {margin-top:5px;}
}
.orderList li{
    float:left;
    width:100%;
    height:50px;
    line-height:30px;
    border-bottom:1px solid #ddd;
}
.orderList .date{
    line-height:50px;
    float:left;
    width:110px;
    padding-left:10px;
}
.orderList .do_progress{
   width:380px; 
    height:40px;
   float:left;
   margin-top:14px;
   position:relative;
}
.orderList .do_progress .point.active{
    color:#456590;
    background:#fff;
    font-size:20px;
    text-align:center;
}
.orderList .do_progress .barBGa,
.orderList .do_progress .barBGb{
    position:absolute;
    height:10px;
    width:100px; 
    background:#FD8A3D;
    top: 5px;
    left: 24px;
}
.orderList .do_progress .barBGb{
    width:100%;
    width:300px;
    background:#ddd;
}
.orderList .do_progress .tt{
    display:none;
   position:absolute; 
   color:#333;
   width:60px;
   margin-top:5px;
   margin-left:-20px;
    font-size:12px;
}
.orderList .do_progress .point{
    position:relative;
    z-index:10;
    float:left;
    line-height:20px;
    text-align:center;
    color:#fff;
    width:20px;
    height:20px;
    background:#999;
    font-size:12px;
    border-radius:10px;
    margin:0 20px;
}
.orderList .playBox{
    float:right;
    margin-right:10px;
}
.orderList .playBox a:hover{
    color:#333;
}
.orderList .playBox a{
    margin:0 3px;
    line-height:50px;
    color:#999;
    text-decoration:none;
}
.createOrderBox{
    width:100%; 
    color:#333;
}
.createOrderBox li{
    width:100%;
    margin:5px 0;
    float:left;
}
.createOrderBox .key{
    padding-right:5px;
    text-align:right;
    float:left;
    width:80px;
}
.createOrderBox .infoBox{
    width:400px;
    float:left;
}
.createOrderBox .remarks{
    width:450px;
    height:160px;
}
.createOrderBox .submit{
    float:right;
    margin-right:22px;
}
